:root {

    --blue: #0093E9;
    --ddBlue: #262534;
    --dBlue: #2f2e41;
    --pink: #fd6584;
    --green: #80D0C7;
    --yellow: #ebd68a;
    --orange: #FFCC70;
    --whiteish: rgba(236, 250, 254, 1);
}
*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
body::-webkit-scrollbar {
    background-color: #bdbdbd;
	width: 6px;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--ddBlue);
}

.navbar {
    --text: var(--ddBlue);
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
}
.navbar__container {
    display: flex; 
    justify-content: space-between;
    z-index: 1;
    width: 100%;
}
.nav-scrolled {
    --text: white;
    --background: var(--ddBlue);
    box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.611);
}
.navbar__item > p {
    color: var(--text);
}
.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
    text-align: left;
}
.navbar__links {
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.navbar__links:hover,
.navbar__link__words:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    transition: all 0.3s ease;
} 
.navbar__item {
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: .1em;
    padding: 0 16px;
}
.logo {
    font-size: 42px;
    padding-left: 22px;
    color: var(--dBlue);
}
span {
    animation: blinker 1s linear infinite;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}




@media screen and (max-width: 960px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 60px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .logo {
        display: none;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        background: var(--ddBlue);
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .navbar__menu.active {
        background: #171738;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        /* transition: all 0.3s ease-in-out; */
        background: white;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%; 
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 10%;
        right: 5%;
        /* transform: translate(40%, 40%); */
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%; 
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}





/*main*/

.main {
    height: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__section {
    /* max-width: 1132px; */
    margin-left: auto;
    margin-right: auto;
}
.landing {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 0px 70px;
}
.landing_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-left: 32px;
}
.btns {
    padding-top: 16px;
    display: flex;
    justify-content: flex-start;
}
.btns > button {
    background-color: var(--dBlue);
    color: white;
    box-shadow: 5px 5px 5px 0px rgb(98, 98, 98);
    font-size: 16px;
    cursor: pointer; 
    border-radius: 10px;
    margin-right: 32px;
    padding: 10px;
    outline: none;
}
.btns > button:hover {
    box-shadow: 5px 5px 5px 3px rgb(98, 98, 98);
    transition: all 0.2s ease-out;
}
.main__words {
    color: var(--ddBlue);
    height: 100%;
}
.main__words > h1 {
    font-size: 45px;
    padding-bottom: 16px;
}
.main__words > p {
    font-size: 20px;
    margin-bottom: 16px;
}


@media screen and (max-width: 960px) {
    .main__words > h1 {
        font-size: 36px;
        padding-bottom: 16px;
    }
    .main__words > p {
        font-size: 15px;
        margin-bottom: 16px;
    }
    .btns {
        padding-top: 12px;
    }
    .btns > button {
        font-size: 12px;
        border-radius: 8px;
        margin-right: 32px;
        padding: 8px;
        outline: none;
    }
}
@media screen and (max-width: 800px) {
    .main {
        overflow-x: hidden;
    }
    .landing {
        display: flex;
        flex-direction: column-reverse;
    }
    .landing_img {
        position: absolute;
        opacity: 50%;
        height: 50%;
        width: 50%;
        padding-left: 0px;
        left: 30%;
        /* border: 2px solid black; */
    }
}

/* about page  */
.section > h1 {
    padding-top: 16px;
    padding-left: 16px;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 32px 0;
    margin-left: auto;
    margin-right: auto;
}
.card__container {
    border-radius: 30px;
    box-shadow: 5px 10px 10px 5px rgb(168, 167, 167);
    margin: 0 8px;
    text-align: center;
    width: 30%;
}
.card__container > img,
.sub-header,
.service__items {
    font-size: 21px;
    line-height: 1.2;
    /* letter-spacing: .011em; */
    /* font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */
    padding-top: 12px;
}
.sub-header {
    border-bottom: 1px inset black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
}
.icon {
    padding-top: 16px;
    font-size: 52px
}
.service__items{
    padding-bottom: 12px;
} 
@media only screen and (max-width: 960px) {
    .header {
        border-bottom: 4px solid black;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .card__container {
        margin: 32px;
    }
    .line {
        display: none;
    }
}







/* block section  */
.block {
    margin-top: 64px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .75);
    text-align: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    /* text-shadow: 1px 1px white; */
    color: var(--ddBlue);
    padding: 32px;
    font-size: 16px;
    line-height: 1.47059;
    letter-spacing: .011em;
    /* font-family: 'Libre Bodoni', serif; */
    font-style: normal;
}





/* work section  */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    --gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(180, 180, 180, .95) 100%);
    margin: 1rem;
    height: 525px;
    width: 400px;
    border: 2px solid black;
    border-radius: 30px;
    background-size: cover;
    position: relative; 
    transition: all 300ms ease-in-out;
    background-image: var(--gradient), url('jewelryStore.PNG');
}
.services__card:hover {
    transform: scale(1.05);
    transition: all 300ms ease-in-out; 
}

.services__card:nth-child(2) {
    background-size: 100%;
    background-image: var(--gradient), url('new_dogGroom.PNG');
}

.services__card:nth-child(3) {
    background-size: 100%;
    background-image: var(--gradient), url('new_cuteDog.PNG');
}

.services__card:nth-child(4) {
    background-size: 100%;
    background-image: var(--gradient), url('new_mexican.PNG');
}

.services__card:nth-child(5) {
    background-size: 100%;
    background-image: var(--gradient), url('SUPERgrandpa.png');
}

.services__card:nth-child(6) {
    background-size: 100%;
    background-image: var(--gradient), url('petstoredemo2.png');
}
.services h2 {
    position: absolute;
    border-radius: 10px;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--ddBlue);
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}



@media screen and (max-width: 960px) {
    .services {
        height: 3000px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;    
    }
}

/* benefit section  */
.plan-header {
    margin-top: 16px;
    font-size: 32px;
}
.package {
    color: var(--darkBlue);
    padding: 5px 20px;
    margin: 4px;
    border: none;
    outline: none;
    border: 1px solid var(--darkBlue);
    border-radius: 8px;
    background: white;
    top: 440px;
    left: 30px;
    font-size: 16px;
    cursor: inherit;
}
.offer {
    font-size: 18px;
    line-height: 1.381;
    letter-spacing: .011em;
    margin: 10px 0 16px 0;
}
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.original__price {
    color: var(--dBlue);
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}
.price > h1 {
    color: var(--dBlue);
    font-size: 48px;
}
.discount {
    font-weight: bold;
}
.off {
    text-decoration: line-through;
}
.order {
    margin-top: 8px;
    margin-bottom: 16px;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: var(--dBlue);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

/* plan for meeting */
.approach {
    margin-top: 64px;
    height: 100%;
}
.approach__plan {
    margin: 24px;
}
.approach-header {
    font-size: 24px;
}
.bubble {
    margin-top: 8px;
    margin-bottom: 16px;
    color: var(--blue);
    border: 2px solid var(--blue);
    padding: 5px 12px;
    outline: none;
    background-color: white;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: inherit;
}
.align {
    justify-content: center;
    align-items: center;
}
.align > p {
    background-color: var(--ddBlue);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, .6);
    color: white;
}



/* frequently asked questions  */
.FAQ {
    margin-top: 64px;
    color: var(--darkBlue);
}
.servicess {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}






.expand-box {
	list-style: none;
}
.question__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 800px;
	height: 60px;
	border: 1.5px solid var(--dBlue);
    border-radius: 10px;
	margin: 16px;
	transition: width 0.3s, height 0.3s, background-color 0.3s;
}
.question__container:hover {
	border: 1.5px solid var(--blue);
}
.opened {
	background-color: var(--blue);
    /* width: 100%; */
    border: 1.5 solid var(--ddBlue);
    color: white;
}
/* always keep the header bold  */
.expand-box > li > label {
    font-weight: bold;
    font-size: 20px;
}
.hover {
	display: block;
    cursor: pointer;
	width: 100%;
	text-align: center;
	transition: background-color 0.3s, color 0.3s;
}
.div {
	display: none;
	padding: 16px;
    font-size: 20px;
}








/* Contact me */
.contact {
    margin: 64px 128px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.contact__form {
    height: 100%;
    width: 100%;
}
.elaborate > p{
    padding-top: 16px;
    font-size: 24px;
}
.contact__img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.card__container__contact {
    padding: 30px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 0 8px;
}
ul {
    list-style: none;
}
input[type=text],
input[type=email],
input[type=phone] {
  background-color: white;
  width: 100%;
  padding: 4px 4px;
  margin: 16px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input[type=text]:focus, 
input[type=email]:focus,
input[type=phone]:focus {
    border: none;
    background-color: white;
    border-bottom: 2px solid var(--blue);
}
.description {
    font-size: 16px;
    line-height: 1.47059;
    letter-spacing: .011em;
    /* font-family: 'Libre Bodoni', serif; */
    font-style: normal;
}

.connect {
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--dBlue);
    font-size: 1rem;
    cursor: pointer;
    transition: all 500ms ease-in-out; 
}
.left-align {
    text-align: start;
}
.connect:hover {
    box-shadow: 5px 5px 5px 0px rgb(98, 98, 98);
    transition: all 150ms ease-in-out; 
    
}
@media only screen and (max-width: 960px) {
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact__us h1 {
        border-bottom: none;
    }
}






/* footer */
.footer {
    text-align: center;
    padding: 1rem 0;
    margin-right: auto;
    margin-left: auto;
    height: 20%;
    background-color: var(--ddBlue);
    color: white;
}
.footer__icon {
    color: white;
}
.a__section {
    margin-top: 64px;
    /* max-width: 1132px; */
    padding: 0px 70px;
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center;
}